In [10]:
import pandas as pd

In [12]:
train = pd.read_csv("census-income-training.csv")

In [13]:
train

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,VETQVA,VETYN,WKSWORK,year,income_morethan_50K,Id
0,49,Private,43,2,Doctorate degree(PhD EdD),0,Not in universe,Married-civilian spouse present,Education,Executive admin and managerial,...,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,1,1
1,49,Private,45,12,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,United-States,United-States,Native- Born in the United States,0,No,1,30,95,0,2
2,49,Private,12,26,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Adm support including clerical,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,3
3,38,Private,3,34,High school graduate,0,Not in universe,Married-civilian spouse present,Mining,Precision production craft & repair,...,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,0,5
4,46,Not in universe,0,0,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142858,60,Private,29,26,Some college but no degree,0,Not in universe,Married-civilian spouse present,Transportation,Adm support including clerical,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,214593
142859,31,Self-employed-incorporated,42,7,Prof school degree (MD DDS DVM LLB JD),0,Not in universe,Married-civilian spouse present,Medical except hospital,Professional specialty,...,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,94,1,214595
142860,45,Local government,48,12,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Public administration,Professional specialty,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,214596
142861,27,Private,33,23,Some college but no degree,525,Not in universe,Married-civilian spouse present,Retail trade,Adm support including clerical,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,214599
142862,57,Federal government,49,26,High school graduate,0,Not in universe,Divorced,Public administration,Adm support including clerical,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,0,214602

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142863 entries, 0 to 142862
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   AAGE                 142863 non-null  int64
 1   ACLSWKR              142863 non-null  object
 2   ADTIND               142863 non-null  int64
 3   ADTOCC               142863 non-null  int64
 4   AHGA                 142863 non-null  object
 5   AHRSPAY              142863 non-null  int64
 6   AHSCOL               142863 non-null  object
 7   AMARITL              142863 non-null  object
 8   AMJIND               142863 non-null  object
 9   AMJOCC               142863 non-null  object
 10  ARACE                142863 non-null  object
 11  AREORGN              142863 non-null  object
 12  ASEX                 142863 non-null  object
 13  AUNMEM               142863 non-null  object
 14  AUNTYPE              142863 non-null  object
 15  AWKSTAT              142863 non-null  object
 16  CAPGAIN              142863 non-null  int64
 17  CAPLOSS              142863 non-null  int64
 18  DIVVAL               142863 non-null  int64
 19  FEDTAX               142863 non-null  object
 20  FILESTAT             142863 non-null  object
 21  GRINREG              142863 non-null  object
 22  GRINST               142863 non-null  object
 23  HHDFMX               142863 non-null  object
 24  HHDREL               142863 non-null  float64
 25  MIGMTR1              142863 non-null  object
 26  MIGMTR3              142863 non-null  object
 27  MIGMTR4              142863 non-null  object
 28  MIGSAME              142863 non-null  object
 29  NOEMP                142863 non-null  int64
 30  PARENT               142863 non-null  object
 31  PEFNTVTY             142863 non-null  object
 32  PEMNTVTY             142863 non-null  object
 33  PENATVTY             142863 non-null  object
 34  PRCITSHP             142863 non-null  object
 35  SEOTR                142863 non-null  int64
 36  VETQVA               142863 non-null  object
 37  VETYN                142863 non-null  int64
 38  WKSWORK              142863 non-null  int64
 39  year                 142863 non-null  int64
 40  income_morethan_50K  142863 non-null  int64
 41  Id                   142863 non-null  int64
dtypes: float64(1), int64(14), object(27)
memory usage: 45.8+ MB

In [18]:
train = train.dropna()

In [21]:
dummies = pd.get_dummies(train[['ACLSWKR', 'AHGA','AHSCOL','AMARITL','AMJIND','AMJOCC', 'ARACE', 'AREORGN',
                               'ASEX','AUNMEM', 'AUNTYPE','AWKSTAT','FEDTAX','FILESTAT','GRINREG','GRINST',
                               'HHDFMX','MIGMTR1','MIGMTR3','MIGMTR4','MIGSAME','PARENT','PEFNTVTY','PEMNTVTY',
                               'PENATVTY','PRCITSHP','VETQVA']])

In [34]:
dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142863 entries, 0 to 142862
Columns: 360 entries, ACLSWKR_Federal government to VETQVA_Yes
dtypes: uint8(360)
memory usage: 50.1 MB

In [23]:
print(dummies.head())

   ACLSWKR_Federal government  ACLSWKR_Local government  ACLSWKR_Never worked  \
0                           0                         0                     0
1                           0                         0                     0
2                           0                         0                     0
3                           0                         0                     0
4                           0                         0                     0

   ACLSWKR_Not in universe  ACLSWKR_Private  \
0                        0                1
1                        0                1
2                        0                1
3                        0                1
4                        1                0

   ACLSWKR_Self-employed-incorporated  ACLSWKR_Self-employed-not incorporated  \
0                                   0                                       0
1                                   0                                       0
2                                   0                                       0
3                                   0                                       0
4                                   0                                       0

   ACLSWKR_State government  ACLSWKR_Without pay  AHGA_10th grade  ...  \
0                         0                    0                0  ...
1                         0                    0                0  ...
2                         0                    0                0  ...
3                         0                    0                0  ...
4                         0                    0                0  ...

   PENATVTY_Vietnam  PENATVTY_Yugoslavia  \
0                 0                    0
1                 0                    0
2                 0                    0
3                 0                    0
4                 0                    0

   PRCITSHP_Foreign born- Not a citizen of U S   \
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0

   PRCITSHP_Foreign born- U S citizen by naturalization  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   PRCITSHP_Native- Born abroad of American Parent(s)  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   PRCITSHP_Native- Born in Puerto Rico or U S Outlying  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   PRCITSHP_Native- Born in the United States  VETQVA_No  \
0                                           1          0
1                                           1          1
2                                           1          0
3                                           1          0
4                                           1          0

   VETQVA_Not in universe  VETQVA_Yes
0                       1           0
1                       0           0
2                       1           0
3                       1           0
4                       1           0

[5 rows x 360 columns]

In [25]:
y = train['income_morethan_50K']

In [28]:
X_numerical = train.drop(['income_morethan_50K','ACLSWKR', 'AHGA','AHSCOL','AMARITL','AMJIND','AMJOCC', 'ARACE', 'AREORGN',
                               'ASEX','AUNMEM', 'AUNTYPE','AWKSTAT','FEDTAX','FILESTAT','GRINREG','GRINST',
                               'HHDFMX','MIGMTR1','MIGMTR3','MIGMTR4','MIGSAME','PARENT','PEFNTVTY','PEMNTVTY',
                               'PENATVTY','PRCITSHP','VETQVA'], axis=1).astype('float64')

In [29]:
list_numerical = X_numerical.columns
list_numerical

Index(['AAGE', 'ADTIND', 'ADTOCC', 'AHRSPAY', 'CAPGAIN', 'CAPLOSS', 'DIVVAL',
       'HHDREL', 'NOEMP', 'SEOTR', 'VETYN', 'WKSWORK', 'year', 'Id'],
      dtype='object')

In [41]:
print(dummies.columns)

Index(['ACLSWKR_Federal government', 'ACLSWKR_Local government',
       'ACLSWKR_Never worked', 'ACLSWKR_Not in universe', 'ACLSWKR_Private',
       'ACLSWKR_Self-employed-incorporated',
       'ACLSWKR_Self-employed-not incorporated', 'ACLSWKR_State government',
       'ACLSWKR_Without pay', 'AHGA_10th grade',
       ...
       'PENATVTY_Vietnam', 'PENATVTY_Yugoslavia',
       'PRCITSHP_Foreign born- Not a citizen of U S ',
       'PRCITSHP_Foreign born- U S citizen by naturalization',
       'PRCITSHP_Native- Born abroad of American Parent(s)',
       'PRCITSHP_Native- Born in Puerto Rico or U S Outlying',
       'PRCITSHP_Native- Born in the United States', 'VETQVA_No',
       'VETQVA_Not in universe', 'VETQVA_Yes'],
      dtype='object', length=360)

In [46]:
X = pd.concat([X_numerical, dummies[['ACLSWKR_Federal government', 'ACLSWKR_Local government',
       'ACLSWKR_Never worked', 'ACLSWKR_Not in universe', 'ACLSWKR_Private',
       'ACLSWKR_Self-employed-incorporated',
       'ACLSWKR_Self-employed-not incorporated', 'ACLSWKR_State government',
       'ACLSWKR_Without pay', 'AHGA_10th grade']]], axis=1)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142863 entries, 0 to 142862
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   AAGE                                    142863 non-null  float64
 1   ADTIND                                  142863 non-null  float64
 2   ADTOCC                                  142863 non-null  float64
 3   AHRSPAY                                 142863 non-null  float64
 4   CAPGAIN                                 142863 non-null  float64
 5   CAPLOSS                                 142863 non-null  float64
 6   DIVVAL                                  142863 non-null  float64
 7   HHDREL                                  142863 non-null  float64
 8   NOEMP                                   142863 non-null  float64
 9   SEOTR                                   142863 non-null  float64
 10  VETYN                                   142863 non-null  float64
 11  WKSWORK                                 142863 non-null  float64
 12  year                                    142863 non-null  float64
 13  Id                                      142863 non-null  float64
 14  ACLSWKR_Federal government              142863 non-null  uint8
 15  ACLSWKR_Local government                142863 non-null  uint8
 16  ACLSWKR_Never worked                    142863 non-null  uint8
 17  ACLSWKR_Not in universe                 142863 non-null  uint8
 18  ACLSWKR_Private                         142863 non-null  uint8
 19  ACLSWKR_Self-employed-incorporated      142863 non-null  uint8
 20  ACLSWKR_Self-employed-not incorporated  142863 non-null  uint8
 21  ACLSWKR_State government                142863 non-null  uint8
 22  ACLSWKR_Without pay                     142863 non-null  uint8
 23  AHGA_10th grade                         142863 non-null  uint8
dtypes: float64(14), uint8(10)
memory usage: 17.7 MB

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [48]:
X_train.head()

,AAGE,ADTIND,ADTOCC,AHRSPAY,CAPGAIN,CAPLOSS,DIVVAL,HHDREL,NOEMP,SEOTR,...,ACLSWKR_Federal government,ACLSWKR_Local government,ACLSWKR_Never worked,ACLSWKR_Not in universe,ACLSWKR_Private,ACLSWKR_Self-employed-incorporated,ACLSWKR_Self-employed-not incorporated,ACLSWKR_State government,ACLSWKR_Without pay,AHGA_10th grade
3183,33.0,19.0,36.0,500.0,0.0,0.0,0.0,1543.82,3.0,2.0,...,0,0,0,0,1,0,0,0,0,0
36759,43.0,29.0,41.0,979.0,7688.0,0.0,0.0,4179.41,6.0,0.0,...,0,0,0,0,1,0,0,0,0,0
105557,68.0,0.0,0.0,0.0,0.0,0.0,0.0,1848.67,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
55521,20.0,33.0,29.0,0.0,0.0,0.0,0.0,6042.59,6.0,1.0,...,0,0,0,0,1,0,0,0,0,0
132273,39.0,0.0,0.0,0.0,0.0,0.0,0.0,2639.57,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0

In [51]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train[list_numerical])

In [52]:
X_train[list_numerical] = scaler.transform(X_train[list_numerical])

X_test[list_numerical] = scaler.transform(X_test[list_numerical])

C:\Users\isaac\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
C:\Users\isaac\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)